body {
    margin: 0;
    font-family: Arial, sans-serif;

    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 100vh;

    background: #ffffff;
}

.container {
    text-align: center;
}

.layout {
    display: grid;

    grid-template-columns: 700px 3px 1fr;
    grid-template-rows: 1fr 3px 300px;

    width: 100vw;
    height: 100vh;

    position: relative;
}

.block {
    border: 2px solid black;
    user-select: none;
}

#tree-view {
    grid-column: 1;
    grid-row: 1 / 4;
}

#terminal-view {
    grid-column: 3;
    grid-row: 3 / 4;
}

#file-view {
    grid-column: 3;
    grid-row: 1;
}

#vertical-separator {
    grid-row: 1 / 4;
    background-color: blueviolet;
    cursor: col-resize;
}

#horizontal-separator {
    grid-row: 2;
    grid-column: 3;
    background-color: blueviolet;
    cursor: row-resize;
}